.container-fluid{
    position: relative;
    text-align: center;
    padding: 0;
}
#intro {
  background-image: url("https://testing.saddahaq.com/public/Uploads/devendarg/4128230-gandhi-1.png");
}
.intro-block {
  background: transparent no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
}
.cntnt{
    width: 50%;
    margin: auto;
}
.slogan{
    font-family: 'Roboto Slab' sans-serif;
    font-size: 3.428em;
    line-height: 1.4em;
    padding-top: 208px;
}
.container-fluid p{
    font-size: 1.4em;
    color: #3F3F3F;
    line-height: 1.4em;
}
.container-fluid img{
    margin-bottom: 80px;
}
#disconnect, #opportunity, #slids{
    background-color: rgb(236, 236, 236);
    position: relative;
}
#disconnect .discnt-icn{
    padding: 30px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    height: 50px;
}
#disconnect .discnt-icn.left{
    top: 140px;
    left: 245px
}
#disconnect .discnt-icn.right{
    top: 210px;
    right: 245px
}
#disconnect .discnt-icn img{
    width: 50px;
    height: 50px;
    max-width: 100%;
    
}
section{
    padding-top: 120px;
}
#world-map{
    background-image: url('https://testing.saddahaq.com/public/Uploads/devendarg/44431915-aasd.gif');
}
#world-map p{
    padding: 40px 0 !important;
}
#opportunity{
    text-align: left;
}
h2{
    font-weight: 500 !important;
    line-height: 1.4em;
    font-size: 2.6em;
}
#opportunity .cntnt, #scl-jrnlsm .cntnt, #milestones .cntnt{
    width: 66%;
    margin-bottom: 40px;
}
#scl-jrnlsm{
 background-color: #DE1218;
 text-align: left;
 height: 1000px !important;
}
#scl-jrnlsm h2, #scl-jrnlsm p{
    color: white;
}
.line{
    border-color: #333;
    position: absolute;
}
.line.left{
    -webkit-transform: rotate(25deg);
    top: 239px;
    left: 292px;
}
.line.vertcle {
    -webkit-transform: rotate(90deg);
    bottom: -21px;
    left: 550px;
    z-index: 100;
}
.line.vertcle.frst{
    bottom: 408px;
    left: 627.5px;
}
.line.vertcle.scnd {
    bottom: 248px;
    left: 627.5px;
}
.line.right{
    -webkit-transform: rotate(25deg);
    top: 200px;
    right: 292px;
}
.bbl{
    border-radius: 12px;
    font-size: 0.857em;
    font-weight: 600;
    text-align: center;
    background-color: #D32F2F;
    line-height: 20px;
    min-width: 20px;
    height: 20px;
    padding: 0;
    display: inline-block;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 100;
}
.bbl.left{
    top: 234px;
    left: 400px;
    border-radius: 68px;
    animation: blink 0.8s infinite linear;
    -webkit-animation: blink 1s infinite linear;
    -moz-animation: blink 1s infinite linear;
}
.bbl.right{
    top: 206px;
    right: 400px;
    border-radius: 68px;
    animation: blink 0.8s infinite linear;
    -webkit-animation: blink 1s infinite linear;
    -moz-animation: blink 1s infinite linear;
}
@keyframes blink {
    from {background-color:  #FA0B0B;}
    to {background-color: rgb(236, 236, 236);}
}
@-webkit-keyframes blink {
    from {background-color:  #FA0B0B;}
    to {background-color: rgb(236, 236, 236);}
}
.graph{
    -webkit-transform: rotate(180deg);
    position: relative;
    text-align: center;
    display: inline-block;
      height: 165px;
}
.graph li{
    width: 18px;
    background-color: #fff;
    float: left;
    margin: 8px;
    position: relative;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -ms-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
}
.graph li span{
    position: absolute;
    -webkit-transform: rotate(180deg);
    bottom: -18px;
    left: -2px;
    color: white;
    font-weight: 700;
}
.mbls{
    float: left;
    margin-right: 20%;
    position: relative;
}
.mbls ul{
    margin-bottom: 16px;
    width: 200px;
}
.mbls ul li{
    float: left;
    margin: -4px;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    width: 0;
    overflow: hidden;
}
.mbls ul li img{
    width: 48px;
    margin: 0;
}
.sqnc{
    list-style-type: none;
}
.sqnc li, .crcl-icn{
    height: 80px;
    width: 80px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    padding: 24px;
    text-align: center;
    margin: 0 60px 0 60px;
    z-index: 1000;
}
#milestones .sqnc li{
    background-color: #DE1218;
    height: 10px;
    width: 10px;
    padding: 16px;
    margin: 0 40px 0 40px;
}
.sqnc li{
    opacity: 0;
}
.crcl-icn{
    position: absolute;
    height: 50px;
    width: 50px;
    font-weight: 700;
    line-height: 1em;
    color: #000;
    bottom: -15px;
    left: 94px;
    font-size: 0.952em;
    opacity: 0;
}
.pulstate {
    opacity: 1 !important;
    -webkit-animation: pulsate 0.4s ease-out;
    -moz-animation: pulsate 0.4s ease-out;
    animation: pulsate 0.4s ease-out;
}
.crcl-icn h3{
    line-height: 1em;
    color: #000 !important;
    font-weight: 700;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0, 0);}
    100% {-webkit-transform: scale(1, 1);}
}
@-moz-keyframes pulsate {
    0% {-moz-transform: scale(0, 0);}
    100% {-moz-transform: scale(1, 1);}
}
@keyframes pulsate {
    0% {transform: scale(0, 0);}
    100% {transform: scale(1, 1);}
}
.text li{
    width: 208px;
    float: left;
    text-align: center;
    padding: 24px;
}
.dted-line{
    width: 0;
    position: absolute; 
    font-size: 0.5em !important; 
    border: 1px solid; 
    border-style: dashed; 
    left: 400px; 
    top: 66px;
    overflow: hidden;
}
.sqnc li span{
    font-weight: 700;
    font-size: 1.2em;
    line-height: 5.142em;
}
.scl-anm{
    margin: 0 auto 120px auto;
    width: 66%;
}
.f-box{
    width: 1255px;
}
.slider{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;        
}
.slider-box{
    position: relative;
    width: 20000px;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out;
    -o-transition: -o-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}
.slider img{
    max-width: 100%;
}
.slidr-nav {
    display: inline-block;
    margin-top: -24px;
}
.slidr-nav li{
    width: 12px;
    height: 12px;
    background-color: #ddd;
    float: left;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
}
.slidr-nav li._actv{
    background-color: #333;
}
.slider .item{
  width: 1255px;
  max-width: 100%;
  float: left;
  position: relative;
  margin: 32px 60px 0 60px;
}
.slider .item._actv{
   left: 0;
   display: block;
}
.slider .item._actv.left{
    left: -100%;
}
.slider .item._actv.right{
    left: 100%;
}
.slider> .item.next{
    position: absolute;
    top: 0;
    width: 100%;
    left: 100%;
    display: block;
}
.slider> .item.prev{
    left: -100%;
}
.slider> .item.next.left, .slider> .item.prev.right {
    left: 0;
}
.nav-btn-left, .nav-btn-right{
  position: absolute;
  width: 70px;
  height: 140px;
  top: 50%;
  opacity: .1;
  margin-top: -70px;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;  
  }
.nav-btn-left:hover{
    left: -12px !important;
    opacity: 0.5;
}
.nav-btn-right:hover{
    right: -12px !important;
    opacity: 0.5;
}
.sldr-nav-right{
   width: 70px;
   height: 140px;
   background: #000;
    border-top-left-radius: 900px;
   border-bottom-left-radius: 900px;
}
.sldr-nav-left{
   width: 70px;
   height: 140px;
   background: #000;
   border-top-right-radius: 900px;
   border-bottom-right-radius: 900px;
}
.sldr-nav-left i, .sldr-nav-right i{
    font-size: 4em;
    vertical-align: middle;
    margin-top: 40px;
    color: #fff;
}
.trns{
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}